BETTER_AUTH_SECRET="change_this"
BETTER_AUTH_URL="http://localhost:5173"

GITHUB_CLIENT_ID="change_this"
GITHUB_CLIENT_SECRET="change_this"

GOOGLE_CLIENT_ID="change_this"
GOOGLE_CLIENT_SECRET="change_this"

POSTGRES_USER="change_this"
POSTGRES_PASSWORD="change_this"
POSTGRES_DB="change_this"

DATABASE_URL="change_this_on_production"
