__*
.DS_Store
.env
.env.prod
.env.production
.env.staging
.env.test
.react-router/
.react-router/*
.tsbuildinfo
.turbo
.vercel
*.db
*.db-journal
app/generated/*
build/
generated/*
generated/prisma/*
generated/zod/*
node_modules/