@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-brand: "Fraunces", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply bg-background text-foreground;
  @apply transition-colors duration-200 ease-in-out;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-wood-50);
  --foreground: var(--color-wood-800);
  --card: var(--color-white);
  --card-foreground: oklch(14.5% 0 0);
  --popover: var(--color-white);
  --popover-foreground: oklch(14.5% 0 0);
  --primary: var(--color-indigo-800);
  --primary-foreground: oklch(98.5% 0 0);
  --secondary: var(--color-wood-200);
  --secondary-foreground: oklch(20.5% 0 0);
  --muted: oklch(97% 0 0);
  --muted-foreground: oklch(55.6% 0 0);
  --accent: var(--color-wood-100);
  --accent-foreground: oklch(20.5% 0 0);
  --destructive: var(--color-rose-700);
  --border: oklch(92.2% 0 0);
  --input: oklch(92.2% 0 0);
  --ring: var(--color-primary);
  --chart-1: oklch(6.46% 0.222 41.116);
  --chart-2: oklch(6% 0.118 184.704);
  --chart-3: oklch(3.98% 0.07 227.392);
  --chart-4: oklch(8.28% 0.189 84.429);
  --chart-5: oklch(7.69% 0.188 70.08);
  --sidebar: oklch(98.5% 0 0);
  --sidebar-foreground: oklch(14.5% 0 0);
  --sidebar-primary: oklch(20.5% 0 0);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(97% 0 0);
  --sidebar-accent-foreground: oklch(20.5% 0 0);
  --sidebar-border: oklch(92.2% 0 0);
  --sidebar-ring: oklch(70.8% 0 0);

  --color-wood-50: oklch(96% 0.004 89.01);
  --color-wood-100: oklch(92% 0.01 77.49);
  --color-wood-200: oklch(83% 0.021 77.84);
  --color-wood-300: oklch(73% 0.031 76.89);
  --color-wood-400: oklch(64% 0.038 74.66);
  --color-wood-500: oklch(59% 0.034 73.32);
  --color-wood-600: oklch(52% 0.03 73.06);
  --color-wood-700: oklch(44% 0.025 71.93);
  --color-wood-800: oklch(39% 0.022 70.47);
  --color-wood-900: oklch(25% 0.01 71.3);
  --color-wood-950: oklch(18% 0.013 70);
}

.dark,
:root[class~="dark"] {
  --background: var(--color-wood-950);
  --foreground: var(--color-wood-100);
  --card: var(--color-wood-900);
  --card-foreground: oklch(98.5% 0 0);
  --popover: oklch(20.5% 0 0);
  --popover-foreground: oklch(98.5% 0 0);
  --primary: var(--color-indigo-400);
  --primary-foreground: oklch(20.5% 0 0);
  --secondary: var(--color-wood-700);
  --secondary-foreground: oklch(98.5% 0 0);
  --muted: oklch(26.9% 0 0);
  --muted-foreground: oklch(70.8% 0 0);
  --accent: oklch(26.9% 0 0);
  --accent-foreground: oklch(98.5% 0 0);
  --destructive: var(--color-red-400);
  --border: oklch(100% 0 0 / 10%);
  --input: oklch(100% 0 0 / 15%);
  --ring: var(--color-primary);
  --chart-1: oklch(48.8% 0.243 264.376);
  --chart-2: oklch(69.6% 0.17 162.48);
  --chart-3: oklch(76.9% 0.188 70.08);
  --chart-4: oklch(62.7% 0.265 303.9);
  --chart-5: oklch(64.5% 0.246 16.439);
  --sidebar: oklch(20.5% 0 0);
  --sidebar-foreground: oklch(98.5% 0 0);
  --sidebar-primary: oklch(48.8% 0.243 264.376);
  --sidebar-primary-foreground: oklch(98.5% 0 0);
  --sidebar-accent: oklch(26.9% 0 0);
  --sidebar-accent-foreground: oklch(98.5% 0 0);
  --sidebar-border: oklch(100% 0 0 / 10%);
  --sidebar-ring: oklch(55.6% 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-brand;
  }
  p {
    @apply text-pretty;
  }
}

@layer utilities {
  .prose-config {
    @apply prose prose-neutral dark:prose-invert focus:outline-none text-foreground;
  }
  .prose-config :is(h1, h2, h3, h4, h5, h6) {
    @apply font-semibold text-foreground;
  }
  .prose-config :is(a) {
    @apply cursor-pointer rounded-xs no-underline transition;
    @apply text-primary hover:text-primary/75;
    @apply focus-visible:ring-offset-4 focus-visible:outline-none focus-visible:ring-2;
  }
  .prose-config :is(pre) {
    @apply bg-muted text-foreground;
  }
  .prose-config :is(code) {
    @apply before:content-none after:content-none;
  }
  .prose > ul > li > p,
  .prose > ol > li > p {
    @apply my-0;
  }
}

/* TipTap */
.tiptap p.is-empty::before {
  @apply pointer-events-none float-left h-0 text-muted-foreground/30;

  content: attr(data-placeholder);
}

/* Uploadcare */
.uploadcare-config {
  --h-accent: 244;
  --s-accent: 55%;
  --l-accent: calc(50% - 5% * var(--darkmode));
  --border-radius-element: calc(var(--radius) - 2px);
  --border-radius-frame: calc(var(--radius) - 2px);
  --border-radius-thumb: calc(var(--radius) - 2px);
}

.uploadcare-config.light {
  --darkmode: 0;
}

.uploadcare-config.dark {
  --darkmode: 1;
}
